<div class="footer">
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright | Created by Mahesh Maharana
            </div>
        </div>
    </footer>
</div>