<div class="container">
    <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
        <tbody>
            {{# each contacts }}
            <tr>
              <td><strong>{{ this.name }}</strong></td>
              <td><strong>{{ this.mo_no }}</strong></td>
              <td><a class="btn-floating btn-medium cyan" href="/edit/{{ this._id }}"><i class="material-icons">edit</i></a> <button class="delete-contact btn-floating btn-medium red" data-id="{{ this._id }}"><i class="material-icons">cancel</i></button></td>
            </tr>
            {{/each}}
        </tbody>
      </thead>
    </table>
   </div>
 </div>
</div>