<div class="container">
<div class="row">
  <h4>Login</h4>
   {{# if hasErrors }}
      {{# each messages }}
        <div class="error z-depth-3">{{ this }} <a class="close-alert right"><i class="material-icons">cancel</i></a></div>
      {{/each}}
    {{/if}}
   <form class="col s6" id="login" action="/user/login" method="post">
     <div class="row">
       <div class="input-field col s12">
         <input id="email" type="email" class="validate" name="email">
         <label for="email">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s6">
         <input id="password" type="password" class="validate" name="password">
         <label for="password">Password</label>
       </div>
     </div>
     <input type="hidden" name="_csrf" value="{{ token }}">
     <button class="btn waves-effect waves-light" type="submit">Login</button>
   </form>
 </div>
 <div>Don't have an account ? <a href="/register">Click here</a></div>
</div>